.introducao-bg {
  background-image: url("../../img/imagens/bg-intro-2.jpg");
  z-index: -10000;
  height: 815px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.introducao-conteudo {
  padding-top: 40px;
  text-align: center;
  margin: auto;
}

.introducao-conteudo h1 {
  font-size: 48px;
  line-height: 150%;
}

.introducao-conteudo p {
  color: #9ca3af;
  font-weight: 500;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.botao > a {
  font-size: 24px;
  font-weight: 600;
  color: var(--white-0);
}

@media (max-width: 1000px) {
  .introducao-bg {
    height: 800px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo {
    padding-top: 60px;
  }

  .introducao-bg {
    background-position: center;
  }
  .introducao-conteudo {
    text-align: center;
  }

  .introducao-conteudo h1 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media (max-width: 440px) {
  .introducao-bg {
    height: 800px;
    padding-top: 60px;
  }

  .introducao-conteudo {
    padding-top: 20px;
  }

  .logo {
    width: 10rem;
  }

  .introducao-conteudo h1 {
    width: 10ch;
    margin: auto;
  }

  .introducao-conteudo p {
    font-size: 16px;
  }

  .introducao-conteudo button > a{
    font-size: 16px;
  }
}
